@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+FR+Moderne:wght@100..400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poetsen One", sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    position: relative;
    z-index: 1;
    background-image: url(../fotos/ampli.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Header {
    top: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: 0 5%;
    width: 100%;
    position: relative;
}

.Header .left-links, .Header .right-links {
    display: flex;
    align-items:end;
    flex: 1;
}

.Header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.Header .logo img {
    height: 1.8rem;
    width: auto;
    transition: all 0.3s;
}

.Header .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.Header .nav-links li {
    padding: 0 15px;
}

.Header .nav-links a {
    font-size: 0.7rem;
    font-weight: 500;
    color: aliceblue;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

.Header .nav-links li:hover {
    transform: scale(1.1);
}

.Header .nav-links li a:hover {
    color: red;
    text-decoration: underline;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    background-color: #ffffff70;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 0, 0, 0.096) 100%);
    border-radius: 25px;
    transition: .4s ease-in-out;
    position: fixed; /* Mantiene el formulario fijo */ 
    top: 50%; /* Coloca el formulario en el centro de la página verticalmente */
    left: 50%; /* Centra el formulario horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para que el formulario se centre completamente */
    width: 40vw; /* Ajusta el ancho del formulario */
    min-height: 300px; /* Define una altura mínima */
    max-height: 80vh; /* Asegura que el formulario no ocupe toda la altura de la pantalla */
    overflow: auto; /* Muestra una barra de desplazamiento si el contenido excede la altura del formulario */
}

#heading {
    text-align: center;
    margin: 2em;
    color: rgb(0, 0, 0);
    font-size: 1.2em;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: #ffffff70;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: rgb(0, 0, 0);
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #000000;
}

.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
}
.button3{
    padding: 0.5em;
    border-radius: 5px;
    margin: auto 0;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: rgba(255, 0, 0, 0.267);
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
    color: black;
}
.button1, .button2{
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: .4s ease-in-out;
    background-color: rgba(255, 0, 0, 0.267);
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
    color: black;
}

.button1:hover, .button2:hover, .button3:hover {
    background-color: rgb(255, 197, 197);
    color: rgb(0, 0, 0);
}
